<%= form_tag upload_path, :method => "post", :multipart => true do %>
    <%= file_field_tag "mp3file" %>
    <%= submit_tag "Upload" %>
<% end %>


<!--<%= form_for(@arium) do |f| %>
  <% if @arium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arium.errors.count, "error") %> prohibited this arium from being saved:</h2>

      <ul>
      <% @arium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>-->
