<section class="col-sm-4 no-padder bg">
                <section class="vbox">
                  <section class="scrollable hover">
                    <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                      <% @aria.each_with_index do |arium, index| %>
                        <%= @songs[index].key %>
                        <%= link_to "Download", download_url_for(@songs[index].key) %>
                        <%= link_to "HTML5 Audio", download_url_for(@songs[index].key), :class => "html5" %>
                      <li class="list-group-item clearfix">
                        <a href="#" class="pull-right m-t-sm m-l text-md">
                          <i class="icon-like text"></i>
                        </a>
                        <span class="pull-right m-t-sm m-l text-md"><%= arium.likes_count %></span>
                        <a href="#" class="pull-left thumb-sm m-r">
                          <img src="images/m0.jpg" alt="...">
                        </a>

                        <a class="clear" href="#">
                          <span class="block text-ellipsis"><%= arium.title %></span>
                          <small class="text-muted"><%= arium.description %></small>
                        </a>
                        <section id="audio">
                          No song playing
                        </section>
                      </li>
                      <% end %>
                    </ul>
                  </section>
                </section>
               </section>
