<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @arium.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @arium.description %>
</p>

<p>
  <strong>Love count:</strong>
  <%= @arium.likes_count %>
</p>

<%= link_to 'Edit', edit_arium_path(@arium) %> |
<%= link_to 'Back', aria_path %>
