<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Aria" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Aria" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %>
    <%= javascript_include_tag "application.js" %>
    <%= csrf_meta_tags %>
  </head>
  
       <%= yield %>
</html>
