<!DOCTYPE html>
<html lang="en" class="app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= content_for?(:title) ? yield(:title) : "Aria" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Aria" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <!--[if lt IE 9]>
    <script src="/ie/html5shiv.js"></script>
    <script src="/ie/respond.min.js"></script>
    <script src="/ie/excanvas.js"></script>
  <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  <body>





    <section class="vbox">
      <header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
        <div class="navbar-header aside bg-info dk nav-xs">
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
            <i class="icon-list"></i>
          </a>
          <a href="index.html" class="navbar-brand text-lt">
            <i class="icon-earphones"></i>
            <img src="assets/images/logo.png" alt="." class="hide">
            <span class="hidden-nav-xs m-l-sm">Musik</span>
          </a>
          <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
            <i class="icon-settings"></i>
          </a>
        </div>      <ul class="nav navbar-nav hidden-xs">
          <li>
            <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
              <i class="fa fa-indent text"></i>
              <i class="fa fa-dedent text-active"></i>
            </a>
          </li>
        </ul>

<!--         <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
              </span>
              <input type="text" class="form-control input-sm no-border rounded" placeholder="Search songs, albums...">
            </div>
          </div>
        </form>
 -->
        <div class="navbar-right ">
          <ul class="nav navbar-nav m-n hidden-xs nav-user user">
            <li class="hidden-xs">
              <a href="#" class="dropdown-toggle lt" data-toggle="dropdown">
                <i class="icon-bell"></i>
                <span class="badge badge-sm up bg-danger count">2</span>
              </a>
              <section class="dropdown-menu aside-xl animated fadeInUp">
                <section class="panel bg-white">
                  <div class="panel-heading b-light bg-light">
                    <strong>You have <span class="count">2</span> notifications</strong>
                  </div>
                  <div class="list-group list-group-alt">
                    <a href="#" class="media list-group-item">
                      <span class="pull-left thumb-sm">
                        <img src="assets/images/a0.png" alt="..." class="img-circle">
                      </span>
                      <span class="media-body block m-b-none">
                        Use awesome animate.css<br>
                        <small class="text-muted">10 minutes ago</small>
                      </span>
                    </a>
                    <a href="#" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        1.0 initial released<br>
                        <small class="text-muted">1 hour ago</small>
                      </span>
                    </a>
                  </div>
                  <div class="panel-footer text-sm">
                    <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                    <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                  </div>
                </section>
              </section>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                  <img src="assets/images/a0.png" alt="...">
                </span>
                John.Smith <b class="caret"></b>
              </a>
              <ul class="dropdown-menu animated fadeInRight">
                <li>
                  <span class="arrow top"></span>
                  <a href="#">Settings</a>
                </li>
                <li>
                  <a href="profile.html">Profile</a>
                </li>
                <li>
                  <a href="#">
                    <span class="badge bg-danger pull-right">3</span>
                    Notifications
                  </a>
                </li>
                <li>
                  <a href="docs.html">Help</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="modal.lockme.html" data-toggle="ajaxModal" >Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <section>
        <section class="hbox stretch">
          <!-- .aside -->
          <aside class="bg-dark dk nav-xs aside hidden-print" id="nav">
            <section class="vbox">
              <section class="w-f-md scrollable">
                <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">



                  <!-- nav -->
                                    <nav class="nav-primary hidden-xs">
                                      <ul class="nav bg clearfix">
                                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                                          Discover
                                        </li>
                                        <li>
                                          <a href="/aria/new">
                                            <i class="icon-microphone icon  "></i>
                                            <span class="font-bold">My records</span>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="/aria/new">
                                            <i class="icon-camcorder icon  "></i>
                                            <span class="font-bold">My Videos</span>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="/aria">


                                            <span class="font-bold">Audios</span>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="/aria">
                                            <i class="icon-social-youtube icon   "></i>
                                            <span class="font-bold">Videos</span>
                                          </a>
                                        </li>
                                        <li>
                                          <a href="file:///home/ccastillo/Desktop/src/video.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                                            <i class="icon-playlist icon   "></i>
                                            <span class="font-bold">Genres Audios</span>
                                          </a>
                                        </li>
                                    <li>
                                          <a href="file:///home/ccastillo/Desktop/src/video.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                                            <i class="icon-social-youtube icon   "></i>
                                            <span class="font-bold">Genres Videos</span>
                                          </a>
                                        </li>
                                        <li class="m-b hidden-nav-xs"></li>
                                      </ul>
                  </nav>
                  <!-- / nav -->
                </div>
              </section>

              <footer class="footer hidden-xs no-padder text-center-nav-xs">
                <div class="bg hidden-xs ">
                    <div class="dropdown dropup wrapper-sm clearfix">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="thumb-sm avatar pull-left m-l-xs">
                          <img src="assets/images/a3.png" class="dker" alt="...">
                          <i class="on b-black"></i>
                        </span>
                        <span class="hidden-nav-xs clear">
                          <span class="block m-l">
                            <strong class="font-bold text-lt">John.Smith</strong>
                            <b class="caret"></b>
                          </span>
                          <span class="text-muted text-xs block m-l">Art Director</span>
                        </span>
                      </a>
                      <ul class="dropdown-menu animated fadeInRight aside text-left">
                        <li>
                          <span class="arrow bottom hidden-nav-xs"></span>
                          <a href="#">Settings</a>
                        </li>
                        <li>
                          <a href="profile.html">Profile</a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="badge bg-danger pull-right">3</span>
                            Notifications
                          </a>
                        </li>
                        <li>
                          <a href="docs.html">Help</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <li>
                          <%= link_to 'Log out', destroy_user_session_path, :method=>'delete'%></li>
                        </li>
                      </ul>
                    </div>
                  </div>            </footer>
            </section>
          </aside>
          <!-- /.aside -->
          <section id="content">
            <section class="vbox">
              <section class="w-f-md" id="bjax-target">
                <section class="hbox stretch">



                  <%= yield %>
                </section>
              </section>







              <footer class="footer bg-success dker">
              <div id="jp_container_N" class="jp-video-270p">
                    <div class="jp-type-playlist">
                      <div id="jplayer_N" class="jp-jplayer hide" style="width: 480px; height: 270px;"><img id="jp_poster_0" src="images/m0.jpg" style="width: 480px; height: 270px; display: inline;"><audio id="jp_audio_0" preload="metadata" src="http://flatfull.com/themes/assets/musics/adg3com_bustedchump.mp3" title="Busted Chump"></audio><video id="jp_video_0" preload="metadata" title="Busted Chump" style="width: 0px; height: 0px;"></video></div>
                      <div class="jp-gui">
                        <div class="jp-video-play hide" style="display: block;">
                          <a class="jp-video-play-icon">play</a>
                        </div>
                        <div class="jp-interface">
                          <div class="jp-controls">
                            <div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a></div>
                            <div>
                              <a class="jp-play" style="display: inline-block;"><i class="icon-control-play i-2x"></i></a>
                              <a class="jp-pause hid" style="display: none;"><i class="icon-control-pause i-2x"></i></a>
                            </div>
                            <div><a class="jp-next"><i class="icon-control-forward i-lg"></i></a></div>
                            <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div>
                            <div><a class="" data-toggle="dropdown" data-target="#playlist"><i class="icon-list"></i></a></div>
                            <div class="jp-progress hidden-xs">
                              <div class="jp-seek-bar dk" style="width: 0%;">
                                <div class="jp-play-bar bg" style="width: 0%;">
                                </div>
                                <div class="jp-title text-lt" style="display: none;">Busted Chump</div>
                              </div>
                            </div>
                            <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted">00:00</div>
                            <div class="hidden-xs hidden-sm jp-duration text-xs text-muted">00:00</div>
                            <div class="hidden-xs hidden-sm">
                              <a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a>
                              <a class="jp-unmute hid" title="unmute" style="display: none;"><i class="icon-volume-off"></i></a>
                            </div>
                            <div class="hidden-xs hidden-sm jp-volume">
                              <div class="jp-volume-bar dk">
                                <div class="jp-volume-bar-value lter" style="width: 80%;"></div>
                              </div>
                            </div>
                            <div>
                              <a class="jp-shuffle" title="shuffle"><i class="icon-shuffle text-muted"></i></a>
                              <a class="jp-shuffle-off hid" title="shuffle off" style="display: none;"><i class="icon-shuffle text-lt"></i></a>
                            </div>
                            <div>
                              <a class="jp-repeat" title="repeat"><i class="icon-loop text-muted"></i></a>
                              <a class="jp-repeat-off hid" title="repeat off" style="display: none;"><i class="icon-loop text-lt"></i></a>
                            </div>
                            <div class="hide">
                              <a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a>
                              <a class="jp-restore-screen" title="restore screen" style="display: none;"><i class="fa fa-compress text-lt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="jp-playlist dropup" id="playlist">
                        <ul class="dropdown-menu aside-xl dker" style="display: block;"><li class="jp-playlist-current"><div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;" class="jp-playlist-item jp-playlist-current" tabindex="1">Busted Chump <span class="jp-artist">by ADG3</span></a></div></li><li><div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;" class="jp-playlist-item" tabindex="1">Chucked Knuckles <span class="jp-artist">by 3studios</span></a></div></li><li><div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;" class="jp-playlist-item" tabindex="1">Cloudless Days <span class="jp-artist">by ADG3 Studios</span></a></div></li><li><div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;" class="jp-playlist-item" tabindex="1">Core Issues <span class="jp-artist">by Studios</span></a></div></li><li><div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;" class="jp-playlist-item" tabindex="1">Cryptic Psyche <span class="jp-artist">by ADG3</span></a></div></li><li><div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;" class="jp-playlist-item" tabindex="1">Electro Freak <span class="jp-artist">by Studios</span></a></div></li><li><div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;" class="jp-playlist-item" tabindex="1">Freeform <span class="jp-artist">by ADG</span></a></div></li></ul>
                      </div>
                      <div class="jp-no-solution hide" style="display: none;">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                      </div>
                    </div>
                  </div>
              </footer>





            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
          </section>
        </section>

      </section>
    </section>








    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
